.body {
  color: var(--primary-accent);
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 100%;
}

.go-back {
  position: absolute;
  left: 0;
  margin-left: 1rem;
  text-decoration: none;
  color: var(--primary-accent);
  font-size: 1.1rem;

  transition: var(--primary-transition);
}

.app-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.hide {
  pointer-events: none;
  opacity: 0;
}
