<div class="body">
  <div class="breadcrum">Home/Statistics/</div>
  <div class="long-url">
    <p class="label">Your URL</p>
    <p class="content">{{ map.longUrl }}</p>
    <button class="emboss-button button" (click)="visitUrl()">
      Visit Page
    </button>
  </div>

  <div class="short-url">
    <p class="label">Generated URL</p>
    <p class="content">{{ shortUrl }}</p>
    <button class="emboss-button button" (click)="copyToClipboard()">
      Copy to Clipboard
    </button>
  </div>

  <div class="access-count">
    <p class="label">Link Accessed</p>
    <p class="content">{{ map.accessCount }} times</p>
  </div>

  <div class="expiry">
    <p class="label">Expires After</p>
    <p class="content">{{ map.timeToLive }} days</p>
  </div>
</div>
