.body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.navbar,
.footer {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar {
  top: 0;
  height: var(--nav-height);
}

.footer {
  bottom: 0;
}

.router {
  padding-top: 5rem;

  position: absolute;
  top: var(--nav-height);
  height: calc(100% - var(--nav-height));
  width: 100%;

  background-color: var(--primary-bg-color);

  position: relative;
  .hologram {
    pointer-events: none;
    position: absolute;
    font-family: var(--signature-font);
    color: rgba(0, 0, 0, 0.02);
    bottom: 25rem;
    left: -8rem;
    width: 100vh;
    transform: rotate(270deg);
    font-size: 8rem;
  }
}
