/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--teal-accent);
    border-radius: 10px;
  }
}
// device sizes
$breakpoint-mobile: 480px;
$breakpoint-tablet: 765px;
$breakpoint-desktop: 1024px;

//mobile
@media only screen and (max-width: $breakpoint-mobile) {
  *,
  *::before,
  *::after {
    -webkit-tap-highlight-color: transparent;
  }
}
//tablet
@media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
  *,
  *::before,
  *::after {
    -webkit-tap-highlight-color: transparent;
  }
}
//laptop
@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
}
// desktop
@media screen and (min-width: $breakpoint-desktop) {
}

:root {
  --pale-blue-green: #ecfaf5;
  --pale-green: #dcf8c6;
  --pale-yellow: #fff5c4;
  --pale-red: #f79c9f;
  --pale-blue: #e1f3fb;
  --blue-ocean: #aadaff;
  --pale-white: #f9f9f9;
  --pale-grey: #f0f0f0;
  --green: #35d371;

  --lime-accent: #92c798;
  --teal-accent: #45a4ad;
  --light-teal-accent: #76c1c8;
  --blue-accent: #4285f4;
  --yellow-accent: #fce100;
  --green-accent: #16c60c;
  --orange-accent: #f7630c;
  --red-accent: #e81224;
  --pink-accent: #ff02a6;
  --dark: #363e4b;
  --medium: ##6c6c6c;
  --light: #fbf8ef;
  --black: #0a112877;

  --emboss: 6px 6px 10px rgba(0, 0, 0, 0.1),
    -6px -6px 10px rgba(255, 255, 255, 0.8);
  --emboss-focus: 6px 6px 10px rgb(0 0 0 / 20%),
    -6px -6px 10px rgb(255 255 255 / 90%);
  --deboss: inset 6px 6px 10px rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px rgba(255, 255, 255, 0.8);

  --max-section-width: 700px;

  --nav-height: 3.6rem;
  --primary-accent: var(--pink-accent);
  --primary-text-color: var(--dark);
  --primary-bg-color: var(--light);
  --secondary-bg-color: var(--pale-yellow);
  --secondary-accent: var(--lime-accent);
  --tertiary-accent: var(--teal-accent);
  --highlight-height: 2.5rem;

  --primary-transition: all 0.25s ease-in-out;
  --signature-font: "PT Mono", monospace;
}

.fa::before,
.far::before,
.fas::before {
  font-style: normal;
  font-family: "Font Awesome 5 Free";
}

.app-title {
  font-family: var(--signature-font);
}

.emboss-button {
  all: unset;

  background-color: var(--secondary-accent);
  color: var(--primary-bg-color);
  border-radius: 8px;
  transition: var(--primary-transition);
  &:hover,
  &:focus {
    background-color: var(--light-teal-accent);
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
}

.breadcrum {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--secondary-bg-color)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: linear-gradient(
    var(--secondary-bg-color),
    rgba(255, 255, 255, 0)
  );
  width: 100%;
  height: var(--highlight-height);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  color: var(--tertiary-accent);
  font-size: 0.9rem;
}
